/* START*/

html {
  scroll-behavior: smooth;
}

body{
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  scroll-margin-top: 0;
  scroll-margin-bottom: 0;
  scroll-margin-left: 0;
  scroll-margin-right: 0;
}

  img {
    width: 50px;

   }
   
   #navbar {
    z-index: 500; /* Stacks navbar on top of everything */
    overflow: hidden;
    width: 100%;
    height: 70px;
    list-style: none;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    position: fixed;
    top: 0;
    font-size: 15px;
    font-weight: light;
    margin: 0;
    transition: 0.3s;

   }

  #logo {
    float: left;
    display: block;
    padding-top: 18px;
    padding-left: 35px;
    text-decoration: none;
   }

#soc-contents {
  position: relative;
  left: 70%;
  float: left;
  display: block;
  color: white;
  font-size: 18;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 30px;
  text-decoration: none;

}

#soc-contents:hover {
  text-decoration: underline;
}


  #navbar.scroll {
    background-color: black;
    
  }
   
   /* Alphawave title */

   h1 {
    position: absolute;
    top: 19%;
    width: 100%;
    text-align: center;
    
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 115px;
    font-weight: 600;
    letter-spacing: 18px;
    word-spacing: 3px;

   }

   h3 {
    position: absolute;
    text-align: center;
    top: 49%;
    width: 100%;


    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    word-spacing: 4px;
   }   
   
   .b1 {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: black;
    color: white;
    font-weight: normal;
    font-size: 15px;
    width: 240px;
    height: 42px;
    letter-spacing: 1.5px;
    text-align: center;
    position: absolute;
    top: 87%;
    left: 47.5%;
    transform: translate(-40%, -90%);
    cursor: pointer;
   }


  #home {
    height: 825px;
  }

  #about {
    height: 825px;
    background-color: black;
  }

  h4 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    position: absolute;
    color: white;

  }

  #our-story {
    height: 825px;
    background-color: red;
  }

  h5 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    position: absolute;
    color: white;

  }

  #contact {
    height: 825px;
    background-color: black;
  }

  h6 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    position: absolute;
    color: white;

  }

  footer {
    display: block;
    background-color: black;
    height: 80px;
    color: white;
    padding-top: 25px;
    padding-left: 25px;
    border-top: solid;
    border-top-color:  white;
    border-width: thin;
  }
  
  #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  

  @media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
      background-size: cover;
    }
}